html,body,#app {
    height: 100%;
    padding: 0;
    background-color: #0D3349;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-card {
    text-align: left;
    line-height: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
    text-align: left;
}
.el-table {
    margin-bottom: 15px;
}

.el-dialog {
    line-height: 20px;
}